$color-theme: #f8f8f8;
$color-background-menu: #2c3e50;
$color-text: #666;
$color-color-menu: #ffffff;

$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;


$aside_width: 180px;
$aside_width_mini: 60px;
$top_height: 72px;